{% extends "base.html" %}

{% block content%}
       <!--This is the button that allows it to be clicked-->
        <button id="BitCoinButton">Check Bitcoin Price</button>

        <!--This container holds the graph information-->
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        <!--This is the results in text form-->
        <div id="BitResults"></div>
{% endblock %}

{% block js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'bitcoin.js') }}"></script>
{% endblock %}